/* navbar */

.navbarcolor {
    background-image: url("wood.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: larger;    
} 

u {
    color: #a89049;
}

#recipe, video {
    color: #a89049;
}

#video {
    color: #a89049;
}

#index {
    color: #a89049;
}

.navbar-nav {
    padding-left: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/*index*/




p {
    padding-bottom: 30px;
}

/*impressum background*/


body {
    background-image: url("background.jpg");
    background-size: 100%;
    background-attachment: fixed;
}
.title {
    text-align: center;
    font-size: 50px;
    padding-bottom: 40px;
    color: #3d3316;
}

.ing {
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.card-text{
    font-size: large;
}

.ingredients {
    padding-left: 20px;
} 

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.row {
    padding-bottom: 50px;
}